target/
.classpath
.project
.settings
*~
node_modules
bower_components
node
yarn.lock
.idea/
**.iml
**/themes/**/styles.css
**/VAADIN/frontend/
integration-tests/src/main/frontend/
integration-tests/error-screenshots/
integration-tests/config/browser_combinations.json
integration-tests/config/selenium-grids.properties
integration-tests/config/testbench.properties
